<% provide(:title, "Home")%>

<div class="row">
  <h1> Movie Collections </h1>
    <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-4">

      <div class="thumbnail">
        <% if movie.pictures.first %>
          <%= link_to image_tag(movie.pictures.first.image.url), movie_path(movie) %>
        <% else %>
          N/A
        <% end %>
        <div class="caption">
          <h3><%= movie.title %></h3>
          <p> <%= movie.summary.truncate(150) %> </p>
          <p>
             <%= link_to "Show", movie_path(movie), class: "btn btn-primary"  %>
             <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-default"  %>
             <%= link_to "Delete", movie,
                    :data => { :confirm => "Are you sure?" },
                    :method => :delete, class: "btn btn-warning"
                  %>
          </p>
        </div>
      </div>
    </div>
 <% end %>
</div>
