<div class="row">
  <h1><%= @movie.title %> </h1>
  <p>
    <b>Title: </b>
    <%= @movie.title %>
  </p>
  <p>
    <b>Director: </b>
    <%= @movie.director %>
  </p>
  <p>
    <b>Stars: </b>
    <%= @movie.stars %>
  </p>
  <p>
    <b>Summary: </b>
    <%= @movie.summary %>
  </p>

  <div class="form-actions">
    <%= link_to 'Edit Movie', edit_movie_path(@movie), :class => 'btn btn-default' %>
    <%= link_to 'Delete Movie', movie_path(@movie), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-warning' %>
  </div>
</div>

<div class="row">

<% unless @pictures.empty? %>
  <% @pictures.each do |pic| %>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag pic.image.url %>
      <div class="caption">
        <p style="text-align: center;">
        <%=
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete, class: "btn btn-warning"
          %>

        </p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

</div>
