 <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Movie Library", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to 'Add new movie', new_movie_path %></li>
              <!-- <li>Logged in as <%= link_to current_user.email, root_path  if current_user.email? %></li> -->
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end  %>
          </ul>
        </nav>
    </div>
 </header>
